# Built-in Functions

### abs

Return the absolute value of a number. The argument may be an integer, a floating point number, or an object implementing $__abs__()$. If the argument is a complex number, its magnitude is returned.

In [5]:
x = -1
abs(x)

1

### all

Return True if all elements of the iterable are true (or if the iterable is empty)

In [9]:
mylist = [1, 1, 1]
mylist2 = [0, 0, 1]
x = all(mylist)
y = all(mylist2)
x,y

(True, False)

### any

Return True if any element of the iterable is true.

In [11]:
mylist = [1, 1, 1]
mylist2 = [0, 0, 1]
x = any(mylist)
y = any(mylist2)
x,y

(True, True)

### input

The function reads a line from input, converts it to a string.

In [13]:
a = input()

 Daniel

In [14]:
a

'Daniel'

### len

Return the length (the number of items) of an object.

In [15]:
x = [1,2,3]
len(x)

3

### max

Return the largest item in an iterable or the largest of two or more arguments.

Return strings in inverse alphabetic order.

In [21]:
x = [1,2,3]
max(x)

3

In [25]:
x = [1,2,3]
y = [4]
max(x,y)

[4]

In [26]:
x = ["Mike", "John", "Vicky"]
max(x)

'Vicky'

### min

Return the smallest item in an iterable or the largest of two or more arguments.

Return strings in alphabetic order.

In [22]:
x = [1,2,3]
min(x)

1

In [23]:
x = [1,2,3]
y = [4]
min(x,y)

[1, 2, 3]

In [24]:
x = ["Mike", "John", "Vicky"]
min(x)

'John'

### pow

Return base to the power exp.

In [28]:
pow(2, 2)

4

In [29]:
pow(4, 0.5)

2.0

### print

In [31]:
x = ("apple", "grape")
y = ("maçã", "uva")
print(x,y, sep="---")

('apple', 'grape')---('maçã', 'uva')

In [35]:
name = "Alice"
age = 30
print("My name is", name, "and I am", age, "years old.", end=" ")
print("Nice to meet you!")

My name is Alice and I am 30 years old. Nice to meet you!

In [39]:
print('09','12','2016', sep='-')
print('a')

09-12-2016
a

### reversed

Return a reverse iterator.

In [45]:
x = [1,2,3]
y = list(reversed(x))
print(y)

[3, 2, 1]

### round

In [47]:
x = 1.2345

In [48]:
round(x,2)

1.23

### sorted

$sorted(iterable, /, *, key=None, reverse=False)$

In [53]:
x = [2,5,3,1]
y = sorted(x)
print(y)

[1, 2, 3, 5]

In [54]:
x = [2,5,3,1]
y = sorted(x, reverse=True)
print(y)

[5, 3, 2, 1]

In [59]:
x = ("orange", "apple", "grape")
y = sorted(x, key=str.lower)
print(y)

['apple', 'grape', 'orange']

### sum

In [60]:
x = [2,5,3,1]
y = sum(x)
print(y)

11